<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<title>DREAM TRAVEL</title>
<footer>
    <div class="selection">
        <p>La Carte</p>
        <p>Nos selection</p>
        <p>Promos</p>
    </div>
    <div class="about">
        <p>Qui sommes-nous ?</p>
        <p>Franchise</p>
        <p>Nous trouver</p>
        <p>Nous contacter</p>
    </div>
    <div class="infos">
        <p>Mentions légales</p>
        <p>CGV</p>
        <p>CGU</p>
        <p>Cookies</p>
        <p>Données personnelles</p>
    </div>
    <div class="admin">
        <a href="/src/views/admin.html">Administration du site</a>
    </div>


    <div class="container-fluid">
        <div class=" row d-flex justify-content-between p-5">
    
            <div class="d-flex flex-column text-center">
                <h5>COMPANY</h5>
                <a href="">About us</a>
                <a href="">Services</a>
                <a href="">Presentation</a>
                <a href="">Clients</a>
            </div>
    
            <div class="d-flex flex-column">
                <h5>PROPERTIES</h5>
                <a href="">Commercial</a>
                <a href="">Residential</a>
                <a href="">Luxury</a>
            </div>
    
            <div class="d-flex flex-column">
                <h5>ADVICE</h5>
                <a href="">FAQs</a>
                <a href="">Support</a>
            </div>
    
            <div class="d-flex flex-column">
                <h5>FOR CLIENTS</h5>
                <a href="">Sign Up</a>
                <a href="">Forums</a>
                <a href="">Promotions</a>
            </div>
    
        </div>
    
        <div class="d-flex ">
            <div class="mx-auto text-center">
                <h5>DREAM TRAVEL</h5>
                <p>8901 Marmora Road, Glascow, DO4 89GR</p>
                <p>Phone: + 1 800 784 3489</p>
                <p>Email:<a href=""> mail@demolink.org</a></p><br><br><br>
                <p>1-800-555-1234</p>
                <p>dreamtravel@demolink.org</p>
            </div>
        </div><br><br><br><br><br><br>
    
        <div class="policy text-center">
            <p>DREAM TRAVEL © 2021 | Privacy Policy</p>
        </div>
    
    </div>
    </div>
</footer>