<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<link rel="stylesheet" href="./home.html">


<main>
    <div id="home">
        <h1>Bienvenue !</h1>
        <h3>Envie d'un livre ?</h3>
        <p>
            N'hésitez pas à consulter nos selections, il suffit de cliquer sur le bouton !
        </p>
        <a href="/src/views/order-book.html">Passer commande</a>
    </div>
</main>